@import 'variables';
@import 'colors';
@import 'intro';
@import 'features';
@import 'details';
@import 'products';

// Sava said we call this general stuff
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;            
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media only screen and (min-width: $xs) {
    width: 750px;
  }

  @media only screen and (min-width: $sm) {
    width: 970px;
  }

  @media only screen and (min-width: $md) {
    width: 1170px;
  }
}

// mark territory
.mark {
  border: solid red 1px;
}
